.appbox_left{  }
.appbox_left_box{  }
.appbox_right{  position:absolute; right:0px; top:10px; z-index:9; height:40px; line-height:40px; padding-right:5px; }
.appbox_right .login{  margin-top:5px; margin-right:10px; }
.appbox_right li{  display:inline; padding:0px 5px; }
.appbox_right li.mi{  color:#eee; }
.memberinfo{ font-weight:normal!important; color:#666; padding-right:10px;}


.applistdiv td img{ width:80px; border:1px solid #eee;}
.applistmb td img{ width:200px; border:1px solid #eee;}
.applistmb .appprice{ color:#E4393C;}
.applistdiv td h3{ font-size:14px; font-weight:normal; }
.applistdiv td h4{ font-weight:normal; color:#E4393C; }
.applistdiv td h4 span{ padding-right:10px; }


.hotlist{ border:1px solid #dfe5e7; background:#fff; margin-top:8px; }
.hotlist h3{ height:38px; line-height:38px; padding-left:15px; background:#f6f8f8; border-bottom:1px solid #dfe5e7; font-size:14px; font-weight:normal; color:#656565; position:relative;}
.hotlist ul{ padding:25px 0px;}
.hotlist ul li{ float:left; padding-bottom: 20px; width:25%; }
.hotapplist ul li dl{ height:80px;}
.hotapplist ul li dt{ float:left; font-size:0px;}
.hotapplist ul li dt img{ width:80px; height:80px; }
.hotapplist ul li dd{ float:left; width:110px; padding-left:10px; padding-top:5px;}
.hotlist ul li h4{ font-weight:normal; color:#656565;height:25px; line-height:25px; overflow:hidden; font-size:14px; }
.hotlist ul li h4 a{ color:#656565; }
.hotlist ul li h4 a:hover{ color:#e9280c; }
.hotlist ul li h5{ font-weight:normal; white-space:nowrap; color:#E4393C; height:22px; line-height:22px; }
.hotlist ul li h5 span{ color:#aaa; padding-right:10px; }
.hotlist ul li h5 span.appprice,.hotlist ul li h5 span.free{ color:#E4393C; }
.hotlist ul li h6{ font-weight:normal; white-space:nowrap; color:#999; height:22px; line-height:22px; }

.hotmblist ul li{ height:auto; }
.hotmblist ul li img{ padding:3px; border:1px solid #ddd; width:150px!important; height:auto!important; }
.hotmblist dl{ margin:0px auto; width:160px; }

/*应用详情页*/
.appdetail{ position:relative; }
.appdetail_dl dt{ }
.appdetail_dl dt img{ width:105px;}
.appdetail_dl dd{ padding-left:5px!important; color:#333!important;}
.appdetail_dl dd h3{ font-size:16px; font-weight:normal; }
.appdetail_dl dd .appdetail_grade{ color:#999;}
.appdetail_dl dd .evaluation{ position:relative; top:4px;}
.appdetail_dl dd .buyprice{ color:#E4393C; display:block; height:30px; line-height:30px;}
.appdetail_dl dd .buyprice span{ padding-right:10px;}
.appdetail_dl dd .buybuttondiv{ margin-top:3px;}
.appdetail_dl dd .buybuttondiv a,.appdetail_dl dd .downloaddiv .metcms_upload_download a,.completediv .complete a,.download-noclick a,.try_again a{ font-weight:normal;float:left; background:#23ad44; height:25px; line-height:25px; color:#fff; padding:0px 12px; border-radius: 2px; font-size:12px; margin-right:5px;}
.appdetail_dl dd .buybuttondiv a:hover,.appdetail_dl dd .downloaddiv .metcms_upload_download a:hover,.completediv .complete a:hover,.download-noclick a:hover,.try_again a:hover{ color:#fff; background:#42c762; }
.appdetail_dl dd .buybuttondiv a:active,.appdetail_dl dd .downloaddiv .metcms_upload_download a:active,.completediv .complete a:active,.download-noclick a:active,.try_again a:active{ color:#fff; background:#1c9439; }
.appdetail_dl dd .downloaddiv .metcms_upload_download{ font-weight:normal; color:#999; height:25px; line-height:25px;}

.appdetail_ol{ list-style:none; height:40px; padding:0px; line-height:40px; border-top:1px solid #e7e9e8; background:#f9fafc; }
.appdetail_ol li { float:left; width:50%; text-align:center; cursor:pointer; }
.appdetail_ol li.on{ background:#e7e9e8;  }

.appdetail_cont{ width:75%;}
.appdetail_develp{ position:absolute; right:0px; top:0px; width:25%; height:100%; background:#fff;}
.appdetail_develp .temdev{ display:block; margin:10px; text-align:center; background:#6c6fbf; color:#fff; padding:5px;}
.appdetail_develp .appdev{ display:block; margin:10px; text-align:center; background:#ff8a00; color:#fff; padding:5px;}
.appdetail_cont_bodr{ border-right:1px solid #e7e9e8; }

.developer_weburl{ text-align:center!important; font-size:14px; }
.developer_weburl i{ font-size:14px; margin-left:5px; }

.evaluationinfo dl dd h5{ font-weight:normal; }
.evaluationinfo h5 span{ position:relative; top:4px; margin-right:5px;}
.evaluationinfo dd{ margin:0px 0px!important; }
.evaluationinfo dd p{ margin-top:3px; color:#666;}

.demo_url img {width:150px;height:150px; border:1px solid #ddd;}

.completediv{ height:25px; line-height:25px; font-weight:normal; color:#999;}
/**/
.tem_seach  {
	line-height: 28px;
	position:relative;
	z-index:1;
}
.tem_seach  span{
	display:-moz-inline-box; display:inline-block; width:150px;
}
.tem_seach  a{
	padding:3px 10px;
}
.tem_seach .ui-table-search{ position:absolute; float:none!important; right:10px; top:7px; z-index:2; }
.tem_seach  a:hover{
	color: #fff;
	background: #f15433;
	border-radius: 2px;
}
.tem_seach .select a{
	color: #fff;
	background: #f15433;
	border-radius: 2px;
}
.through{
	text-decoration:line-through;
	color:#aaa; 
}
.paysubmit{
	display: inline;
	margin-right:20px;
}


/*应用市场模板点击放大*/
.lightboxOverlay { position: absolute; top: 0; left: 0; z-index: 9999; background-color: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; display: none; } 
.lightbox { position: absolute; left: 0; width: 100%; z-index: 10000; text-align: center; line-height: 0; font-weight: normal; } 
.lightbox .lb-image { display: block; height: auto; } 
.lightbox a img {border: none;}
.lb-outerContainer { position: relative; background-color: white; *zoom: 1; width: 250px; height: 250px; margin: 0 auto; } 
.lb-outerContainer:after { content: ""; display: table; clear: both; }
.lb-container { padding: 4px; } 
.lb-loader { position: absolute; top: 43%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; } 
.lb-cancel { display: block; width: 32px; height: 32px; margin: 0 auto; background: url(img/loading.gif) no-repeat; } 
.lb-nav { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
.lb-container > .nav { left: 0; } 
.lb-nav a { outline: none; } 
.lb-prev, .lb-next { width: 49%; height: 100%; cursor: pointer; display: block; } 
.lb-prev { left: 0; float: left; }
.lb-prev:hover { background: url(img/prev.png) left 48% no-repeat; }
.lb-next { right: 0; float: right; }
.lb-next:hover { background: url(img/next.png) right 48% no-repeat; } 
.lb-dataContainer:after { content: ""; display: table; clear: both; } 
.lb-data .lb-details { width: 85%; float: left; text-align: left; line-height: 1.1em; }
.lb-data .lb-caption { font-size: 13px; font-weight: bold; line-height: 1em; }
.lb-data .lb-number { display: block; clear: left; padding-bottom: 1em; font-size: 12px; color: #999999; } 
.lb-close {width:27px; height:27px; position:absolute; right:0px; top:-30px; display: block; background: url(img/close.png) top right no-repeat; outline: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7;}
.lb-close:hover { cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; } 
.example-image-link{display:block; font-size:0px; float:left; margin:10px;text-align:center; }
.example-image-link img{ max-height:200px; padding:3px; border:1px solid #eee;  }
.appdetail_imglist dl{ padding:0px!important; margin:0px!important;}
.appdetail_imglist dd{ padding:0px!important; margin:0px!important;}
.appdetail_imglist dd .fbox{ margin:0px!important;}
.appdetail_imglist dd .fbox span.img{ display:block;}

.v52fmbx dl.filtrate{ box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-left:1px solid #e7e9e8; border-right:1px solid #e7e9e8; padding:0px; }
.v52fmbx dl.filtrate dd{margin:6px 0px 7px 0px;}
.v52fmbx dl .more{position:absolute; right:10px; top:5px; width:auto;padding-right:14px; color: #806f66; cursor:pointer;}
.v52fmbx dl .more:hover{color:#000;}
.v52fmbx dl .more .ico{font-style: normal; height: 5px; line-height: 5px; position:absolute; right:0px; top:11px; width: 9px; background:url(img/ico.png) no-repeat center top;}
.v52fmbx dl dd.unfold{max-height:56px; overflow: hidden;}
.v52fmbx dl dd.color span,.v52fmbx dl dd.temtype span{ width:auto; padding-right:25px;}


.applistmb td .temone a{ white-space:normal;}
@media(max-width:1100px){
.hotapplist ul li dl{ margin:0px auto; width:160px; height:auto; text-align:center; }
.hotapplist ul li dl dt{ float:none; }
.hotapplist ul li dl dd{ float:none; width:100%; padding-left:0px; }
.applistmb td img{ width:90%;}
}
