.theme{ margin:0px; display:none; }
.theme-left{ float:left; width:300px; position:relative; z-index:99;}
.theme-right{ float:right; width:100%; margin-left:-300px; }
.theme-right .theme-right-iframe{ margin-left:300px; font-size:0px; overflow:hidden; position:relative; }
.theme-right iframe{ width:100%; height:640px; position:relative; z-index:1; }
.footer{ display:none;}

.theme ul.tabs{ 
height:40px; 
background-color: #eff0f2;
}
.theme ul.tabs li.list{
  float: left;
  line-height: 40px;
  padding: 0;
  width:50%;
  position: relative;
}
.theme ul.tabs li.list a.list{
  color: #666;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  text-align:center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position:relative;
}
.theme ul.tabs li.list a.list i{ position:absolute; right:20px; top:10px; font-size:14px;}
.theme ul.tabs li.list ul{ position:absolute; top:40px; right:0px; display:none; z-index:999;}
.theme ul.tabs li.list ul li a{ 
  color: #666;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  text-align:center;
  text-decoration: none;
  background-color: #eff0f2;
}
.theme ul.tabs li.list ul li a:hover{ color: #fff; background:#6bd0ab;}
.theme .tab_content { height:600px; overflow:auto;background:#222;  }
.theme .tabs_item {
  display: none;
  padding: 5px 0;
}

.theme ul.tabs li.current a.list,.theme ul.tabs li ul li.current a,.theme ul.tabs li.current1 a.list,.theme ul.tabs li ul li.current1 a{
  color: #fff;
  background: #4fc197;
}
.theme .theme-mb{ padding:10px;}
.theme .tabs_item dl.theme-mb-list{ margin:0px auto; background:#555; }
.theme .tabs_item dl.theme-mb-list dt{ color:#fff; padding:8px 10px; }
.theme .tabs_item dl.theme-mb-list dd{ text-align:center; padding:10px 0px; background:#fff; position:relative; }
.theme .tabs_item dl.theme-mb-list dd a.img{ cursor:default; margin:0px 10px; display:block; font-size:0px; background:#000; }
.theme .theme-mb-ow{ width:240px; margin:0px 10px; display:none; font-size:12px;position:absolute; top:40%; left:50%; margin-left:-120px; }
.theme .theme-mb-ow a{ display:block; height:45px; width:150px; line-height:45px; background:#6bc30d; color:#fff; text-align:center; margin:0px auto 10px; }
.theme .theme-mb-ow a.theme-mb-qy-ok{ background:#999; cursor:default;}

.theme-save a{ display:block; height:40px; line-height:40px; background:#ff8a00; color:#fff; text-align:center;}
.theme-save a:hover{ background:#ff9921;}
.theme-save a:active{ background:#db7600;}


.theme .theme-left .tabs_item .v52fmbx{ padding:0px 8px; overflow:hidden; background:#222; font-size:12px; border:0;}
.theme .theme-left .tabs_item .v52fmbx .v52fmbx_hr{ background:#555; color:#fff; border:0!important; font-weight:normal; font-size:100%; margin:1px 0px 0px!important; padding:0px 10px; cursor:pointer; height:42px; line-height:42px;}
.theme .theme-left .tabs_item .v52fmbx .v52fmbx_hr4{ background:#f6f8f8; color:#656565; font-weight:normal; font-size:100%; padding:8px 10px; border-top:1px solid #e7e9e8;}
.theme .theme-left .tabs_item .dllistwrap{ display:none; }
.theme .theme-left .tabs_item .v52fmbx dl{ background:#fff; margin:0px!important;}
.theme .theme-left .tabs_item .v52fmbx dl dt{ padding:5px 5px 10px 10px;}
.theme .theme-left .tabs_item .v52fmbx dl dd{ margin:10px 0px 10px; padding:2px 10px 0px 0px;}
.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_input .fbox input{ width:95%;}
.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_textarea .fbox textarea{ width:95%;}
.theme .theme-left .tabs_item .v52fmbx dl dd .fbox{ float:none;}
.theme .theme-left .tabs_item .v52fmbx dl dd .tips{ float:none; display:none; padding-top:5px; margin-top:0px;}


.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_upload .fbox{ height:34px; }
.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_upload .fbox input.text{ width:70%; }
.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_upload .metuplaodify{ }
.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_upload .metuplaodify .uptips{ display:block; clear:both; }
.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_upload .metuplaodify .upbutn{  }

.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_radio .fbox label{ white-space:nowrap;  }

.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_ckeditor_theme{ margin:0px; padding:0px;}
.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_ckeditor_theme .fbox{ margin:0px; padding:0px;}

.tabs_item .moretemp a{ background:#23b7e5; padding:10px; display:block; margin:0px; cursor:pointer; font-size:16px; font-weight:normal; color:#fff; text-align:center;}
.tabs_item .moretemp a:hover{ background:#38c4f0;}
.tabs_item .moretemp a:active{ background:#1ba4cf;}
/*
.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_upload{ margin:0px 0px 10px; padding:2px 10px 0px 10px;}
*/
/*
.theme .theme-left .tabs_item .v52fmbx dl dd.ftype_ckeditor .fbox span.cke_skin_BootstrapCK-Skin{ display:none;  }

.theme_ckeditor_box{ position:absolute; left:30%; top:30%; width:500px; height:400px; z-index:9999; background:#fff; }
.theme_ckeditor_box span.cke_skin_BootstrapCK-Skin{ display:block; }
/*
.v52fmbx{ margin:0px 8px; padding:3px; overflow:hidden; }
.v52fmbx dl{ display:block;}
.v52fmbx dl dt{ width:auto; padding-top:20px;}
.v52fmbx dl dd{ padding:2px 0px 5px 10px!important; margin-top:0px!important;}
.v52fmbx dl dd.ftype_ckeditor{ padding:2px 0px 5px 0px!important;}
.ftype_input .fbox{ float:none;}
.ftype_input .tips{ float:none; display:block; padding-top:5px;}
.ftype_input .fbox input{ width:97%; height:35px;}
.ftype_upload .fbox input.text{ height:35px;}
.metuplaodify,.file_uploadfrom{ height:41px;}
.metuplaodify .upbutn{ height:39px; line-height:39px;}
.ftype_textarea textarea{ width:97%;}
*/


#metcmsbox{ padding:0px; }
.metcms_top{ display:none; }
.metcms_cont{ width:100%;  border:0;}
.metcms_cont_left{ display:none;}
.metcms_cont_right{ margin-left:0px!important;}
.metcms_cont_right_box{ margin-left:0px!important; border:0; min-height:200px!important; padding:0px!important;}
.metinfotop{ display:none;}

.theme_color{ padding:0px 10px!important; }
.theme_color a{ float:left; width:28px; height:25px; overflow:hidden; background:#000; border:8px solid #fff; }
.theme_color a.now,.theme_color a:hover{ border:8px solid #eee; }

.bannerlist{ text-align:center; padding:0px 10px!important;}
.bannerlist img{ width:100%; min-height:90px;}
.bannerlist .fbox{ padding:0px!important; margin:0px!important;}
.bannerlist .fbox li{ margin-bottom:10px; background:#eee; padding:10px 10px 0px; min-height:40px; position:relative; cursor:move; }
.bannerlist .fbox li input{ margin-bottom:10px; }
.bannerlist .fbox li input.in2{ margin-bottom:0px; }
.bannerlist .fbox li a.img{ display:block; font-size:0px; margin-bottom:0px; position:relative; background:#000; cursor:default;  }
.bannerlist .fbox li a div.banner_rep{ position:absolute; width:100px; height:35px; line-height:35px; left:50%; top:25px; margin-left:-50px; background:#6bc30d; color:#fff; font-size:12px; display:none; cursor:pointer; margin: auto; top: 0; left: 0; bottom: 0; right: 0;  }
.bannerlist .banner_del{ position:absolute; top:0px; right:0px; display:none; }
.bannerlist .banner_del i{ font-size:18px; background:#6bc30d; padding:5px; color:#fff; cursor:pointer; }
.bannerlist .banner_add{ background:#23b7e5; padding:8px; cursor:pointer; font-size:16px; font-weight:normal; color:#fff; }
.bannerlist .banner_add:hover{ background:#38c4f0;}
.bannerlist .banner_add:active{ background:#1ba4cf;}
.bannerlist .banner_input{ display:none; padding-bottom:10px;}
.bannerlist .sortable-placeholder{ background:#fff!important; border:2px dotted #ccc;}
.bannerlist .banner_more{ background:#eee; height:25px; line-height:25px; cursor:pointer; color:#999; }
.bannerlist .banner_more i{ font-size:14px; position:relative; bottom:2px; margin-left:5px; }

.theme .theme-left .tabs_item .v52fmbx .v52fmbx_hr i{ font-size:16px; margin-right:10px; position:relative;}

.bannerlist .metuplaodify .upbutn{ background:#6bc30d; color:#fff; margin-left:0px; width:100px; height:35px; line-height:35px; padding:0px!important; border:0;}

.banner_set_more{ text-align:center; }
.banner_set_more a{ color:#999; }

.theme{position:relative; }
.listzhezhao,.iframezhezhao{ height:100%; position:absolute; top:0px; text-align:center; font-size:14px; color:#fff; background:#000; left:0px; width:100%; z-index:99; display:none;
filter:alpha(opacity=70);  
-moz-opacity:0.7;  
-khtml-opacity: 0.7;  
opacity: 0.7;  
}
.listzhezhao span,.iframezhezhao span{ display:block; padding:140px 0px; }

.theme-right-iframe{ background:#1d2125; }
.mobileiframe{ width:540px; height:595px; margin:0px auto; padding:84px 25px; background:url(../images/iPhone-6-plus.png) no-repeat left top; overflow:hidden; position:relative;}
.mobileiframe iframe{ width:347px; height:592px!important;}
.mobileiframe .theme-right-bx{ width:330px; height:592px; overflow:hidden;}
.mobileiframe .theme-right-erweima{ position:absolute; right:0px; top:150px; width:200px; font-size:12px; color:#fff;  }
.mobileiframe .theme-right-erweima dt{ padding:5px 0px; }
.mobileiframe .theme-right-erweima dd{ color:#ccc; }
.mobileiframe .theme-right-erweima dd img{ max-width:200px; }


/*手机屏幕*/
@media screen and (max-width:700px){
	.theme-right{ display:none; }
	.theme-left{ float:none; width:100%;}
	.theme ul.tabs li.list{ width:50%;}
	.theme ul.tabs li.list a.list{ width:auto;}
	.theme .theme-left .tabs_item .v52fmbx{ width:auto; }
	.theme .theme-left .tabs_item .v52fmbx dl dd .tips{ display:block; line-height:1.5;}
}
/*平板*/
@media screen and (max-width:860px){
	.theme-right{ display:none; }
	.theme-left{ float:none; width:100%;}
	.theme ul.tabs li.list{ width:50%;}
	.theme ul.tabs li.list a.list{ width:auto;}
	.theme .theme-left .tabs_item .v52fmbx{ width:auto; }
	.theme .theme-left .tabs_item .v52fmbx dl dd .tips{ display:block; line-height:1.5;}
}






