<!--<?php
# MetInfo Enterprise Content Management System 
# Copyright (C) MetInfo Co.,Ltd (http://www.metinfo.cn). All rights reserved. ed.
require_once template('head');
echo <<<EOT
-->
<script type="text/javascript" src="../../ckeditor/ckeditor.js"></script>
</head>
$listjs
<body>
<!--
EOT;
$title=$class1?"<a href='index.php?anyid={$anyid}&lang={$lang}&class1={$class1}'>{$met_class[$class1][name]}</a>":"<a href='index.php?anyid={$anyid}&lang={$lang}'>{$lang_modulemanagement3}</a>";
$title.=$action=='editor'?" > {$lang_editor}{$lang_content}":" > {$lang_add}{$lang_content}";
$rurl="index.php?anyid={$anyid}&lang={$lang}&class1={$class1}";
if($cengci==2)$rurl="index.php?anyid={$anyid}&lang={$lang}&class1={$class1}&class2={$class2}";
if($cengci==3)$rurl="index.php?anyid={$anyid}&lang={$lang}&class1={$class1}&class2={$class2}&class3={$class3}";
$class1=$class1?$class1:($id?$id:0);
$title=title($class1,$anyid,$lang)?title($class1,$anyid,$lang):$title;
require_once template('metlangs');
echo <<<EOT
-->
<form  method="POST" name="myform" action="save.php?anyid={$anyid}&action=$action" target="_self">
		<input name="id" type="hidden" value="$id">
		<input name="reclass1" type="hidden" value="$reclass1">
		<input name="reclass2" type="hidden" value="$reclass2">
		<input name="reclass3" type="hidden" value="$reclass3">
		<input name="lang" type="hidden" value="$lang">
		<input name="module" type="hidden" value="$module">
		<input id="acesss_contents" type="hidden"   value="$list_access[access]">
		<input name="filenameold" type="hidden"  value="$product_list[filename]">
		<input name="updatetimeold" type="hidden"  value="$product_list[updatetime]">
		<input name="page" type="hidden"  value="$page">
		<input type="hidden" name="no_order" value="$product_list[no_order]" />
		<input type="hidden" name="cengci" value="$cengci" />
<div class="v52fmbx_tbmax">
<div class="v52fmbx_tbbox">
<div class="v52fmbx">
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_category}{$lang_marks}</dt>
			<dd>
		<select name="class1" id="class1select" class="noselect" onChange="changelocation_contents(document.myform.class1.options[document.myform.class1.selectedIndex].value,1)" $class1style>		
		<option value="">{$lang_modClass1}</option>
<!--
EOT;
foreach($met_classindex[$module] as $key=>$val1){
$k=$val1['id'];
$admin_column_power="admin_popc".$val1[id];
if(!($metinfo_admin_pop=='metinfo'||$$admin_column_power=='metinfo'))continue;
echo <<<EOT
-->			
<option  value="$val1[id]" $class1x[$k]>$val1[name]</option>
<!--
EOT;
}
echo <<<EOT
-->
		</select>
		<select name="class2" id="class2select" class="noselect" onChange="changelocation_contents(document.myform.class2.options[document.myform.class2.selectedIndex].value,2)" $class2style> 
<!--
EOT;
if(count($met_class22[$class1])&&$class1){	
echo <<<EOT
-->	
		<option value=''>{$lang_modClass2}</option>		
<!--
EOT;
	foreach($met_class22[$class1] as $key=>$val2){
	$k=$val2[id];
echo <<<EOT
-->	
		<option  value="$val2[id]" {$class2x[$k]}>$val2[name]</option>
<!--
EOT;
	}
}else{
echo <<<EOT
-->
		<option value=0>----------</option>
<!--
EOT;
}
echo <<<EOT
-->		
		</select>
		<select name="class3" id="class3select" class="noselect" onChange="changepower(3);changelocation_para();" $class3style> 
<!--
EOT;
if(count($met_class3[$class2])&&$class2){
echo <<<EOT
-->			
	<option value=''>{$lang_modClass3}</option>
<!--
EOT;
	foreach($met_class3[$class2] as $key=>$val3){
	$k=$val3[id];
echo <<<EOT
-->	
	<option  value="$val3[id]" {$class3x[$k]}>$val3[name]</option>	
<!--
EOT;
	}
}else{
echo <<<EOT
-->
	<option value=0>----------</option>
<!--
EOT;
}
echo <<<EOT
-->		
		</select>
		<a href="{$met_weburl}{$met_adminfile}/column/index.php?anyid=25&lang=$lang" target="_blank">{$lang_indexcolumn}</a>
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_title}{$lang_marks}</dt>
			<dd>
				<input name="title" type="text" class="text nonull" value="$product_list[title]" />
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_modpublish}{$lang_marks}</dt>
			<dd>
				<input name="issue" type="text" class="text mid" value="$product_list[issue]" />
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_hits}{$lang_marks}</dt>
			<dd>
				<input name="hits" type="text" class="text mid" value="$product_list[hits]" />
				<span class="tips">{$lang_modhits}</span>
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_external_links}{$lang_marks}</dt>
			<dd>
				<input name="links" type="text" class="text" value="$product_list[links]" />
				<span class="tips">{$lang_specified_link}</span>
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox v52fmbx_inline">
		<dl>
			<dt>{$lang_article1}{$lang_marks}</dt>
			<dd>
<!--
EOT;
if($metadmin['productnew']){
echo <<<EOT
-->
				<label><input name="new_ok" type="checkbox" class="checkbox" value="1" {$new_ok}>{$lang_newest}</label>&nbsp;&nbsp;&nbsp;
<!--
EOT;
}
echo <<<EOT
-->	
<!--
EOT;
if($metadmin['productcom']){
echo <<<EOT
-->
				<label><input name="com_ok" type="checkbox" class="checkbox" value="1" {$com_ok}>{$lang_recom}</label>
<!--
EOT;
}
echo <<<EOT
-->	
				<label><input name="top_ok" type="checkbox" class="checkbox" value="1" {$top_ok}>{$lang_top}</label>
<!--
EOT;
echo <<<EOT
-->
<!--
EOT;
if($met_wap && $met_wap_ok){
echo <<<EOT
-->	
				<label><input name="wap_ok" type="checkbox" class="checkbox" value="1" {$wap_ok}>{$lang_article3}</label>
<!--
EOT;
}
if($met_autothumb_ok!=1)$styletip="style='display:none;'";
echo <<<EOT
-->
				<label><input name="class_other" type="checkbox" value="1" class="checkbox" {$class_other} />{$lang_unitytxt_30}</label>
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox" ctype="class_other_1">
		<dl>
			<dt></dt>
			<dd name="columnlist">
				<div class="flashaddclumn flashaddclumn_c1">
				<h3><p><label>{$lang_unitytxt_29}</label></p></h3>
				<div class="list" style="">
<!--
EOT;
foreach($met_class1 as $key=>$val1){
if($val1[module]!=3)continue;
$checkeds1=$feditlist[$val1[id]]==1?'checked':'';
if(count($met_class2[$val1[id]])){
	$disabled1="disabled='disabled'";
	$checkeds1='';
}else{
	$disabled1="";
}
echo <<<EOT
-->	
	<p><label><input name="classothers[]" type="checkbox" class="checkbox" value="-{$val1[id]}-0-0-" {$checkeds1} {$disabled1}> {$val1[name]}</label></p>
<!--
EOT;
foreach($met_class2[$val1[id]] as $key=>$val2){
$checkeds2=$feditlist[$val2[id]]==1?'checked':'';
if(count($met_class3[$val2[id]])){
	$disabled2="disabled='disabled'";
	$checkeds2='';
}else{
	$disabled2="";
}
echo <<<EOT
-->	
	<p><label><input class="met_bigloumn2id_{$val2[bigclass]}"  style="margin-left:22px;" name="classothers[]" type="checkbox" class="checkbox" value="-{$val1[id]}-{$val2[id]}-0-" {$checkeds2} {$disabled2}> {$val2[name]}</label></p>
<!--
EOT;
foreach($met_class3[$val2[id]] as $key=>$val3){
$checkeds3=$feditlist[$val3[id]]==1?'checked':'';
echo <<<EOT
-->	
    <p class="met_bigloumn3id_{$val3[bigclass]}" style="margin-left:44px;"><label><input name="classothers[]" type="checkbox" class="checkbox" value="-{$val1[id]}-{$val2[id]}-{$val3[id]}-" {$checkeds3}> {$val3[name]}</label></p>
<!--
EOT;
}}}
echo <<<EOT
-->	
				</div>
				</div>
				<div class="clear"></div>
			</dd>
		</dl>
		</div>
	<h3 class="v52fmbx_hr metsliding" sliding="1">{$lang_displayimgTip}</h3>
	<div class="metsliding_box metsliding_box_1">
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_modimgurl}{$lang_marks}</dt>
			<dd>
				<input name="imgurl" type="text" class="text" value="$product_list[imgurl]"> 
				<span class="tips" {$styletip}>{$lang_modimgauto}</span>
				<input name="met_upsql" type="file" id="file_upload" />
			</dd>
		</dl>
		</div>
<!--
EOT;
$imshide = '';
if($met_autothumb_ok)$imshide = 'none hidebox1';
echo <<<EOT
-->
		<div class="v52fmbx_dlbox $imshide">
		<dl>
			<dt>{$lang_modimgurls}{$lang_marks}</dt>
			<dd>
			<input name="imgurls" type="text" class="text" value="$product_list[imgurls]">
			<input name="met_upsql1" type="file" id="file_upload1" />
			</dd>
		</dl>
		</div>
<!--
EOT;
if($met_autothumb_ok){
echo <<<EOT
-->
		<div class="v52fmbx_dlbox">
		<dl>
			<dt></dt>
			<dd>
				<a href="javascript:;" onclick="openhidebox($(this),$('.hidebox1'),'{$lang_unitytxt_32}','{$lang_unitytxt_31}')">{$lang_unitytxt_31}</a>
			</dd>
		</dl>
		</div>
<!--
EOT;
}
echo <<<EOT
-->
<script type="text/javascript">
$(document).ready(function(){
	metuploadify('#file_upload','big_wate_img','imgurl-imgurls',3,3);
	metuploadify('#file_upload1','small','imgurls');
});
</script>
	<div id="list-top"><input name="imgnum" type="hidden" value="{$imgnum}" /></div>
<!--
EOT;
if($displaylist){
$i=0;
foreach($displaylist as $key=>$val){
$i++;
$k=$i-1;
echo <<<EOT
-->
		<div class="v52fmbx_dlbox newlist">
		<dl>
			<dt class='addimgdt'>
				<p>{$lang_setflashName}{$lang_marks}</p>
				<p>{$lang_modimgurl}{$lang_marks}</p>
			</dt>
			<dd style='position:relative;'>
				<div style='margin-bottom:10px;'>
					<input name='displayname{$k}' type='text' class='text med' value='{$val[name]}' />
					<span class='tips'>{$lang_imagename}</span>
				</div>
				<input name='displayimg{$k}' type='text' class='text' value='{$val[imgurl]}' />
				<input name='met_upsql{$k}' type='file' id='displayimg_upload{$k}' />
				<script type='text/javascript'>
				$(document).ready(function(){
					metuploadify('#displayimg_upload{$k}','big_wate_img','displayimg{$k}','','3');
				});
				</script>
				<a href='javascript:;' onclick='imgnumfu();deletdisplayimg($(this));' class='displayimg_del'>{$lang_delete}</a>
			</dd>
		</dl>
		</div>
<!--
EOT;
}}
echo <<<EOT
-->
		<div class="v52fmbx_dlbox">
		<dl>
			<dt></dt>
			<dd>
				<a href="addimg.php?lang={$lang}&action=add" onclick="return adddisplayimg($(this));">+{$lang_add}{$lang_displayimg}</a>
				<span id="loadtxt"></span>
			</dd>
		</dl>
		</div>
	</div>
<!--
EOT;
if(count($para_list)||!$class1){
$none=$class1?'':'none';
echo <<<EOT
-->
	<h3 class="v52fmbx_hr metsliding {$none}" sliding="2"><a href="{$met_weburl}{$met_adminfile}/column/parameter/parameter.php?module={$module}&anyid={$anyid}&class1={$class1}&lang={$lang}" target="_blank">{$lang_article6}</a></h3>
	<div class="metsliding_box metsliding_box_2" id='parastart'>
<!--
EOT;
$a=0;
$b=0;
foreach($para_list as $key=>$val){
if($val[type]==4&&$a==1){
echo <<<EOT
-->
		<div class="v52fmbx_dlbox" name='paralist1'>
<!--
EOT;
$a++;
}else if($val[type]==4&&$a==2){
echo <<<EOT
-->
		<div class="v52fmbx_dlbox" name='paralist2'>
<!--
EOT;
}else if($val[type]==6&&$b==2){
echo <<<EOT
-->
		<div class="v52fmbx_dlbox" name='paralist2'>
<!--
EOT;
}else if($val[type]==6&&$b==1){
echo <<<EOT
-->		
		<div class="v52fmbx_dlbox" name='paralist1'>
<!--
EOT;
$b++;
}else{
echo <<<EOT
-->
		<div class="v52fmbx_dlbox" name='paralist'>
<!--
EOT;
if($val[type]==6){
$b++;
}
if($val[type]==4){
$a++;
}
}		
echo <<<EOT
-->		
		<dl>
			<dt>{$val[name]}{$lang_marks}</dt>
			<dd>
				{$val[inputcont]}
			</dd>
		</dl>
		</div>
<!--
EOT;
}
echo <<<EOT
-->
	</div>
<!--
EOT;
}
echo <<<EOT
-->
	<h3 class="v52fmbx_hr metsliding" sliding="0">{$lang_contentdetail}</h3>
	<div class="metsliding_box metsliding_box_0">
<!--
EOT;
if($metinfover=='v1'){
	$metadmin[productother] = $met_productTabok-1;
	$tems['productTabname']  = $met_productTabname;
	$tems['productTabname_1']  = $met_productTabname_1;
	$tems['productTabname_2']  = $met_productTabname_2;
	$tems['productTabname_3']  = $met_productTabname_3;
	$tems['productTabname_4']  = $met_productTabname_4;
}
$contxt1=$tems?$tems['productTabname']:$lang_contentdetail;
if($metadmin[productother]){
$contxt1=$tems?$tems['productTabname']:$product_list[contentinfo];
echo <<<EOT
-->
		<div class="v52fmbx_dlbox_content">
			<ul id="metinfocms">
				<li class="hover">{$contxt1}</li>
<!--
EOT;
for($i=1;$i<=$metadmin[productother];$i++){
$othertitle='contentinfo'.$i;
$tabtitle = $tems?$tems['productTabname_'.$i]:$product_list[$othertitle];
echo <<<EOT
-->	
				<li>{$tabtitle}</li>
<!--
EOT;
}
echo <<<EOT
-->
			</ul>
		</div>
<!--
EOT;
}
echo <<<EOT
-->
		<div class="v52fmbx_dlbox_content">
			<div class="ckeditormetbox">
			<textarea class="ckeditor" name="content">$product_list[content]</textarea>
<script type="text/javascript">
met_ckeditor('$depth','content');
</script>
			</div>
<!--
EOT;
if($metadmin[productother]){
for($i=1;$i<=$metadmin[productother];$i++){
$othermark='content'.$i;
echo <<<EOT
-->	   
			<div class="ckeditormetbox none">
					<textarea class="ckeditor" name="$othermark">{$product_list[$othermark]}</textarea>
					<script type="text/javascript">
					met_ckeditor('$depth','$othermark');
					</script>
			</div>
<!--
EOT;
}}
echo <<<EOT
-->
		</div>
	</div>
	<h3 class="v52fmbx_hr metsliding" sliding="3">{$lang_columnSEO}</h3>
	<div class="metsliding_box metsliding_box_3">
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_columnmtitle}{$lang_marks}</dt>
			<dd>
				<input name="ctitle" type="text" class="text" value="{$product_list[ctitle]}" />
				<span class="tips">{$lang_ctitleinfo}</span>
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_keywords}{$lang_marks}</dt>
			<dd>
				<input name="keywords" type="text" class="text" value="{$product_list[keywords]}">
				<span class="tips">{$lang_descriptioninfo},{$lang_keywordsinfo}</span>
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_description}{$lang_marks}</dt>
			<dd>
				<textarea name="description" cols="60" class="textarea gen" rows="5" >{$product_list[description]}</textarea>
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_columnhtmlname}{$lang_marks}</dt>
			<dd>
				<input name="filename" type="text" class="text med" value="$product_list[filename]">
				<span class="tips">{$lang_columntip14}</span>
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_tag}{$lang_marks}</dt>
			<dd>
				<input name="tag" type="text" class="text" value="$product_list[tag]">
				<span class="tips">{$lang_tagtips}</span>
			</dd>
		</dl>
		</div>
	</div>
	<h3 class="v52fmbx_hr metsliding" sliding="2">{$lang_unitytxt_28}</h3>
	<div class="metsliding_box metsliding_box_2">
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_timedrelease}{$lang_marks}</dt>
			<dd>
				
				<span class="tips">把发布时间设置为未来时间，即可在指定时间发布。
<!--
EOT;
if($met_htmlurl == 0 && ($met_webhtm == 2 || $met_webhtm == 1)){
echo <<<EOT
-->	
				您开启了静态页面功能，必须开启“静态页面伪静态化”才可以使用定时发布功能。<a href="../../seo/sethtm.php?anyid=37&lang={$lang}&nojump=1" target="_blank">{$lang_clickset}</a>
<!--
EOT;
}
echo <<<EOT
-->
				</span>
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox">
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_addtime}{$lang_marks}</dt>
			<dd>
				<input name="addtime" type="text" class="text" value="$product_list[addtime]">
				<span class="tips">{$lang_modtimenow}$m_now_date {$lang_modtimenow1}</span>
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_updatetime}{$lang_marks}</dt>
			<dd>
				<input name="updatetime" type="text" class="text" value="$m_now_date" />
				<span class="tips">{$lang_modtimenow}$m_now_date {$lang_modtimenow1}</span>
			</dd>
		</dl>
		</div>
	</div>
	<h3 class="v52fmbx_hr metsliding" sliding="4">{$lang_unitytxt_33}</h3>
<!--
EOT;
if($met_member_use){
echo <<<EOT
-->		  
	<div class="metsliding_box metsliding_box_4"> 
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_webaccess}{$lang_marks}</dt>
			<dd>
				<select name="access" id="access">$level</select>
			</dd>
		</dl>
		</div>
	</div>
<!--
EOT;
}
echo <<<EOT
-->		
		<div class="v52fmbx_dlbox">
		<dl>
			<dt>{$lang_displaytype}{$lang_marks}</dt>
			<dd>
			<label><input name="displaytype" type="radio" class="radio" {$displaytypes[0]} value="1" />{$lang_yes}</label>
			<label><input name="displaytype" type="radio" class="radio" {$displaytypes[1]} value="0" />{$lang_no}</label>
			</dd>
		</dl>
		</div>
		<div class="v52fmbx_submit">
			<input type="submit" name="Submit" value="{$lang_Submit}" class="submit" onclick="return Smit($(this),'myform')" />
		</div>
</div>
</div>
</div>      
</form>
<div class="footer">{$foot}</div>
<script type="text/javascript">
  $(document).ready(function(){
       var list = $("#metinfocms li");
	   var text = $(".ckeditormetbox");
	        list.each(function(i){
			    var my = $(this);
				    my.click(
                        function () {
                text.each(function(d){
				    var o = $(this);
				    if(i==d){ o.css("display","block"); }else{ o.css('display','none'); }
				});
                list.each(function(t){
				    var o = $(this);
				    if(i==t){ o.addClass("hover"); }else{ $(this).removeClass("hover"); }
				});
                         });
            });
  });
  checkthis('class_other');
</script>
</body>
</html>
<!--
EOT;
# This program is an open source system, commercial use, please consciously to purchase commercial license.
# Copyright (C) MetInfo Co., Ltd. (http://www.metinfo.cn). All rights reserved.
?>-->