/*初始化*/
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,egend,input,button,textarea,hr { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6 { font-size:100%; }
ul { list-style:none; }
ol { padding-left:20px; }
img { border:0; }
q:before,q:after { content:''; }
abbr[title] { border-bottom:1px dotted; cursor:help; }
button,input,select,textarea { font-size:100%; }
hr { border:none; height:1px; }
body,button,input,select,textarea { font:14px/1 'Microsoft YaHei',Tahoma,'Simsun'; }
html,body { font:14px/1.8 'Microsoft YaHei',Tahoma,Verdana,'Simsun'!important; color:#000; background:#fff; -webkit-text-size-adjust:none; }
img { border:none; }
a { color:#23b7e5; text-decoration:none; }
a:hover { color:#23b7e5; }
.clear{ clear:both; }
input,button,select,textarea{outline:none}
textarea{resize:none}

/*ui_类*/
.ui-float-left{ float:left; }
.ui-float-right{ float:right; }
.none{ display:none; } 
.v52fmbx .none{ display:none; } 
.met-gray{ color:#9a9a9a!important;}
.met-center{ text-align:center!important; }
input.ui-input{
	height:25px;
	line-height:25px\9;
	padding: 2px 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #333;
	outline: 0;
	width:200px;
}
input.ui-input::-webkit-input-placeholder{
	padding-top:2px;
}

/*顶部*/
.metinfotop {
	height:36px;
	line-height:36px;
	overflow:hidden;
	padding:0px 10px;
	background:#f5f5f5;
	margin:0px 0px;
	border-bottom:1px solid #d3d3d3;
	color:#666;
}
.metinfotop .position {
	float:left;
	height:36px;
	line-height:36px;
	color:#666;
}
.metinfotop .position i.fa-globe{
	font-size:26px; 
	color:#888;
	position:relative;
	top:5px;
	margin-right:10px;
}
.metinfotop a {
	color:#08c;
	text-decoration:none;
}
.metinfotop .return {
	float:right;
	height:36px;
	line-height:36px;
}
.metinfotop .return i.fa-chevron-left{ margin-right:5px; font-size:15px; position:relative; top:2px; }
.metinfotop .return a {
	color:#08c;
	text-decoration:none;
}
/*导航*/
.stat_list {
	height:40px;
	background:#fff;
}
.stat_list a{
	float:left;
	height:40px;
	line-height:40px;
	overflow:hidden;
	color:#768289;
	padding:0px 30px;
	background:#f6f6f6;
	/*text-shadow: 0px -1px rgba(0,0,0,0.2);*/
}
.stat_list a.now {
	background:#6c6fbf;
	color:#fff;
}
.stat_list a:hover {
	background:#efefef;
}
.stat_list a.now:hover{ background:#6c6fbf; }

.met-focus{ border:1px solid #23b7e5!important; }

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}
/*表单---------------------------------------------------------------------------------*/

/*区块标题*/
.v52fmbx_hr{ padding:2px 0px; color:#666; font-weight:normal; }
.v52fmbx_hr{ border-top:1px solid #ddd; margin:0px 0px 0px; padding:0px 5px 0px 15px; font-weight:bold; color:#333; font-size:14px; background:#f7f7f7; height:38px; line-height:38px;}
.v52fmbx_hr .hr_right{ float:right;}
.v52fmbx_hr .tips{ font-weight:normal; padding-left:20px; color:#999;}
.v52fmbx h3.v52fmbx_hr:first-child{ border-top:1px solid #ddd; }

/*区块内容*/
.v52fmbx{ margin:8px 0px 0px; border:1px solid #ddd; border-top:0; overflow:hidden; text-align:left;}
.v52fmbx dl:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
.v52fmbx dl{ width:100%; zoom:1;  background:#fff;}
.v52fmbx dl{ border-top:1px solid #ddd; margin:0px 0px; display:-webkit-box; display:-moz-box; display:box; display:-ms-flexbox; position:relative; padding:5px 0px; }

.v52fmbx dl dt{ margin:15px 15px 10px 15px; width:105px; color:#333; text-align:left; font-weight:normal; overflow:hidden; line-height:1.2;}
.v52fmbx dl dd{ color:#aaa; -moz-box-flex:1.0; -webkit-box-flex:1.0; box-flex:1.0; -ms-flex:1; padding:2px 0px 0px 15px; margin:10px 0px; }
.v52fmbx dl dd label input{ position:relative; top:1px; margin-right:3px;}

.v52fmbx dl dd .fbox{ color:#aaa; color:#656565;}
.v52fmbx dl dd .tips{ color:#aaa;}
.v52fmbx dl dd .tips:hover{ color:#f00;}
.v52fmbx dl dd.labelinline label{ display:inline; }
.v52fmbx dl dt.addimgdt{ padding:10px 5px 10px;}
.v52fmbx dl dt.addimgdt p{ height:30px; line-height:30px; margin-bottom:8px;}
.v52fmbx dl.noborder{ border-bottom:0;}

.formerror{ margin-top:6px; height:20px; line-height:20px;}
.formerror .fa-times{ color:#fff; border-radius:3px; padding:1px 2px; font-size:16px; margin-right:5px; background:red; }
.formerror .fa-check{ color:#fff; border-radius:3px; padding:2px; font-size:14px; margin-right:5px; background:#10aa00; }
.formerrorbox{ border:2px solid #f00!important; }

.v52fmbx dl dd.ftype_description{ color:#fff; padding:8px; margin:0px 5px; background:#6c6fbf; }



/*简短输入框*/
.ftype_input .fbox{ float:left; margin-right:10px; }
.ftype_input .tips{ float:left; padding-top:5px; }
.ftype_input .fbox input{ 
	width:350px;
	height:28px;
	line-height:28px\9;
	padding: 2px 5px;
	border: 1px solid #dcdfe0;
	background-color: #fff;
	color: #333;
	outline: 0;
	border-radius:2px;
	/*
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
	*/
}
.ftype_input .fbox input::-webkit-input-placeholder{
	padding-top:2px;
}

.placeholder-ie{ position:relative;  }
.placeholder-ie label{ position: absolute; left: 8px; top: 7px; cursor:text; color:#999; }
.placeholder-ie input{ }

/*文本输入框*/
.ftype_textarea .tips{ display:block; }
.ftype_textarea textarea{
	width:350px;
	line-height:1.5;
	height:100px;
	padding: 7px 5px;
	border: 1px solid #dcdfe0;
	background-color: #fff;
	color: #333;
	outline: 0;
}

/*编辑器*/
.ftype_ckeditor .tips{ display:block; margin-top:5px; margin-left:5px; }

/*下拉菜单*/
.ftype_select .tips,.ftype_select-linkage .tips{ display:block; margin-top:5px;}
select{ 
line-height: 31px;
height: 31px;
vertical-align: middle;
background-color: #fff;
outline: 0;
border: 1px solid #ccc; padding:4px; color:#333;
}


/*单选*/
.ftype_radio .fbox label{ font-weight:normal; height:28px; line-height:28px; margin:0px; display:block; color:#333;}
.ftype_radio .fbox input[type='radio']{ border-radius: 100%; bottom: 3px; height: 15px; position: relative; vertical-align: middle; width: 15px; margin:0px; position:relative; top:-1px; margin-right:6px; }
.ftype_radio .formerror{ margin-top:0px; }

/*多选*/
.ftype_checkbox .fbox input[type='checkbox']{ border-radius: 100%; bottom: 3px; height: 15px; position: relative; vertical-align: middle; width: 15px; margin:0px; }
.ftype_checkbox .fbox label{ font-weight:normal; height:28px; line-height:28px; margin:0px; display:block; color:#333;}
.ftype_checkbox .fbox input{ position:relative; top:-1px; margin-right:6px!important; }
.ftype_checkbox .formerror{ margin-top:0px; }
.ftype_transverse .fbox label{ display:inline; margin-right:15px; }

/*时间选择器*/
.ftype_day  .fbox{ margin-right:10px;}
.ftype_day  .fbox input{ width:200px; color:#000; border:1px solid #ccc; padding:2px 8px; vertical-align:middle;height:28px; line-height:28px\9; position:relative; left:-2px; top:0px; }
.ftype_day  .fbox input.time_mm{ width:140px;}
.ftype_day  .fbox{ float:left; }
.ftype_day  .tips{ float:left; padding-top:5px; }

/*滑块*/
.ftype_range .fbox{ height:42px; line-height:42px; position:relative; top:-5px;  }
.ftype_range .fbox .range-slider{ float:left; width:300px; margin-top:12px; }
.ftype_range .fbox input{ background:#fff; color:#000; border:1px solid #999; padding:0px 5px; height:22px; line-height:22px; width:50px; margin:0px 3px 0px 20px; border-radius:3px; }
.ftype_range .formerror{ margin-top:0px; }

/*颜色选择器*/
.ftype_color .fbox input{ background:#fff; color:#000; border:1px solid #ccc; padding:2px 8px 2px 35px; height:28px; line-height:28px; width:60px; }
.ftype_color .tips{ margin-top:5px; display:block; }
.ftype_color .formerror{ margin-top:0px; }

/*标签增加器*/
.ftype_tags  .tips{ display:block; padding-top:5px; }
.ftype_tags .tags_box{ width:360px; border:1px solid #ccc; position:relative; padding:0px;}
.ftype_tags .tags_box ul{ padding:0px; overflow:hidden; zoom:1;}
.ftype_tags .tags_box ul li{ float:left; cursor:default; position:relative;}
.ftype_tags .tags_box ul li.tags_list{ border:1px solid #ccc; display:block; background:#eee; padding:2px 18px; padding-right:25px; margin:7px 0px 0px 7px; border-radius:3px; }
.ftype_tags .tags_box ul li.tags_list a{ position:absolute; right:7px; top:8px; width:7px; height:7px; background:url(../images/tbl_close.gif) no-repeat left top; overflow:hidden; }
.ftype_tags .tags_box ul li.tags_tj{ white-space:nowrap; height:28px; margin:7px; line-height:28px; }
.ftype_tags .tags_box ul li.tags_tj label{ position:absolute; left:0px; top:0px; height:28px; line-height:28px; color:#999; display:none;}
.ftype_tags .tags_box ul li.tags_tj span{ float:left; cursor:pointer; width:28px; height:28px; background:#ccc url(../images/Ico_add.png) no-repeat center center; color:#36C; display:block; border-radius:3px;}
.ftype_tags .tags_box ul li.tags_tj span:hover{ background-color:#999;}
.ftype_tags .tags_box ul li.tags_tj input{ border:0!important; padding:2px 0px; height:14px; margin-left:5px; outline:0; position:relative; background:none;}
.ftype_tags .tags_box ul li.tags_list:hover{ border:1px solid #ccc; background:#ddd;}
.ftype_tags .tags_box ul li.tags_list a:hover{ background-position:left -7px;}
.ftype_tags .tags_box span.tips{ position:absolute; left:370px; top:0px; height:28px; line-height:28px; white-space:nowrap;}

/*上传组件*/
.ftype_upload .fbox{ position:relative; }
.ftype_upload .fbox input.text{ background:#fff; color:#000; border:1px solid #ccc; padding:2px 8px; vertical-align:middle;height:28px; line-height:28px; width:220px; }
.ftype_upload .fbox input.text{
	padding: 2px 5px;
	border: 1px solid #dcdfe0;
	background-color: #fff;
	color: #333;
	outline: 0;
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
}
.ftype_upload .tips{ display:block; padding-top:5px; }

/*上传按钮*/
.metuplaodify { overflow:hidden; position:absolute; left:0px; top:0px; height:34px; width:200px; }
input[type="file"] { cursor: pointer; }
.metuplaodify form{ float:left;}
.file_uploadfrom { position: absolute; left: -120px; top: 0px; height:34px; overflow:hidden; }
.file_uploadfrom input{ height:34px;}
.metuplaodify .upbutn { height:32px; line-height:32px; white-space:nowrap; background:#eee; color:#333; float:left; padding:0px 12px; text-align:center; border:1px solid #dcdfe0; border-left:0; }
.metuplaodify .upbutn { text-decoration:none; }
.metuplaodify .upbutn_hover{ background:#e9e9e9; }
.metuplaodify .upbutn_active{ background:#ddd; }
.metuplaodify  .uptips{ float:left; white-space:nowrap; height:32px; line-height:32px; color:#333; text-align:left; margin-left:5px; }

/*提交按钮*/
.submit{ display:block; background:#23b7e5; border:0 none; height:34px; line-height:26px; padding:0px 35px; color:#fff; cursor:pointer; border-radius:2px;  }
.submits{ display:block; background:#23b7e5; border:0 none; height:34px; line-height:26px; padding:0px 35px; color:#fff; cursor:pointer; border-radius:2px; float:left; margin-right:50px;}
.submit:hover{ background:#38c4f0;}
.submit.active,.submit:active{ background:#1ba4cf; }
.submit.inputloading{ background:#38c4f0; }

/*升级*/
.met_uplaod_remodal{ padding:5px!important; }
.met_uplaod_remodal .v52fmbx{ margin-top:0px; font-size:12px;}
.met_uplaod_remodal .v52fmbx dl dd{color:#555;}
.met_uplaod_remodal .remodal-close{ left:auto; right:5px;}
.met_uplaod_remodal .noborder input{ float:left; margin-right:20px;}

/*表格*/
.ui-table{ width:100%!important;}
.ui-table td{ color:#656565; }
.ui-table td .line{ padding:0px 6px; color:#ddd; }
.ui-table td a{ white-space:nowrap; }
.ui-table td input.ui-input{ width:95%; }

.v52fmbx-table-top{ padding-bottom:5px;}
.v52fmbx-table-top:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
.v52fmbx-table-top{ width:100%; zoom:1;}

.ui-table input[type='checkbox']{ border-radius: 100%; height: 15px; position: relative; vertical-align: middle; width: 15px; margin:0px; }

.ui-table .formsubmit input.submit{ float:left; margin-right:15px; padding:0px 23px; height:30px;}
.ui-table .formsubmit select{ float:left; margin-right:15px; }
.ui-addlist{ font-weight:normal;float:left; background:#23ad44; height:30px; line-height:30px; color:#fff; padding:0px 20px; border-radius: 2px; font-size:12px; margin-right:5px;}
.ui-addlist:hover{ color:#fff; background:#42c762; }
.ui-addlist:active{ color:#fff; background:#1c9439; }
.ui-addlist i{ font-size:18px; margin-right:5px; position:relative; top:2px; margin-bottom:0px; }
.v52fmbx-table-top .ui-float-left .ui-addlist{  }
.ui-table-search{ float:right; margin-left:5px; position:relative; height:25px; padding-left:34px; }
.ui-table-search i{ font-size:18px; height:25px; line-height:25px; padding:2px 6px; border:1px solid #ccc; position:absolute; left:4px; top:0px; border-right:0px; color:#bbb; margin-bottom:0px;  background:#fff; }
.ui-table-search i{ float:left\9; top:0px\9; padding:2px 8px\9;}
.ui-table-search input{ display:inline-block;}
.ui-table-search select{ position:relative; bottom:2px;}
.ui-table-search .placeholder-ie{ float:left\9; }

/*
 * Table styles
 */
.sorting_1{
	background:none!important;
}
.dataTable{
	border:1px solid #ddd!important;
	border-right:0!important;
	border-right:0!important;
	margin:0px!important;  
}
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}
table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: normal;
  color:#656565!important;
  text-align:left;
  border-right:1px solid #ddd;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 8px 10px;
  font-size:14px;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
  background:#f7f7f7!important;
}
table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 8px 10px;
  border-top: 1px solid #ddd;
  background:#f7f7f7!important;
  white-space: nowrap;
  font-size:14px;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
  cursor: pointer;
  *cursor: hand;
}
table.dataTable thead .sorting {
  background: url("../images/sort_both.png") no-repeat center right;
}
table.dataTable thead .sorting_asc {
  background: url("../images/sort_asc.png") no-repeat center right;
}
table.dataTable thead .sorting_desc {
  background: url("../images/sort_desc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc_disabled {
  background: url("../images/sort_asc_disabled.png") no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled {
  background: url("../images/sort_desc_disabled.png") no-repeat center right;
}
table.dataTable tbody tr {
  background-color: white;
}
table.dataTable tbody tr.selected {
  background-color: #b0bed9;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 12px;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #dddddd;
  border-right:1px solid #ddd;
}
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
  
}
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #dddddd;
}
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #fff;
}
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #abb9d3;
}
table.dataTable.hover tbody tr:hover,
table.dataTable.hover tbody tr.odd:hover,
table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr.odd:hover,
table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr.even:hover {
  background-color: whitesmoke;
}
table.dataTable.display tbody tr.ui-table-td-hover,table.dataTable.display tbody tr.ui-table-td-hover:hover{ background-color: #eee!important; }
table.dataTable.hover tbody tr:hover.selected,
table.dataTable.hover tbody tr.odd:hover.selected,
table.dataTable.hover tbody tr.even:hover.selected, table.dataTable.display tbody tr:hover.selected,
table.dataTable.display tbody tr.odd:hover.selected,
table.dataTable.display tbody tr.even:hover.selected {
  background-color: #a9b7d1;
}
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #f9f9f9;
}
table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad4;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}
table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}
table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}
table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b3cd;
}
table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a7b5ce;
}
table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b6d0;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #f9f9f9;
}
table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fbfbfb;
}
table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fdfdfd;
}
table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad4;
}
table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #adbbd6;
}
table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr.odd:hover > .sorting_1,
table.dataTable.display tbody tr.even:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr.even:hover > .sorting_1 {
  background-color: #eaeaea;
}
table.dataTable.display tbody tr:hover > .sorting_2,
table.dataTable.display tbody tr.odd:hover > .sorting_2,
table.dataTable.display tbody tr.even:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2,
table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_2,
table.dataTable.order-column.hover tbody tr.even:hover > .sorting_2 {
  background-color: #ebebeb;
}
table.dataTable.display tbody tr:hover > .sorting_3,
table.dataTable.display tbody tr.odd:hover > .sorting_3,
table.dataTable.display tbody tr.even:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3,
table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_3,
table.dataTable.order-column.hover tbody tr.even:hover > .sorting_3 {
  background-color: #eeeeee;
}
table.dataTable.display tbody tr:hover.selected > .sorting_1,
table.dataTable.display tbody tr.odd:hover.selected > .sorting_1,
table.dataTable.display tbody tr.even:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1,
table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_1,
table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_1 {
  background-color: #a1aec7;
}
table.dataTable.display tbody tr:hover.selected > .sorting_2,
table.dataTable.display tbody tr.odd:hover.selected > .sorting_2,
table.dataTable.display tbody tr.even:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2,
table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_2,
table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_2 {
  background-color: #a2afc8;
}
table.dataTable.display tbody tr:hover.selected > .sorting_3,
table.dataTable.display tbody tr.odd:hover.selected > .sorting_3,
table.dataTable.display tbody tr.even:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3,
table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_3,
table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_3 {
  background-color: #a4b2cb;
}
table.dataTable.no-footer {
  
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap;
}
table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 5px 9px;
}
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 5px 9px 3px 9px;
}
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px 5px;
}
table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left;
}
table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center;
}
table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}
table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify;
}
table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap;
}
table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left;
}
table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center;
}
table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right;
}
table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}
table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}
table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left;
}
table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center;
}
table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}
table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}
table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
.dataTables_wrapper .dataTables_length {
  float: left;
  margin:5px;
}
.dataTables_length select{ height:22px; padding:0px; border-color:#ccc; }
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  margin:5px 5px 8px;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: right;
  padding: 5px 8px 0px;
  color:#bbb!important;
}
.dataTables_wrapper .dataTables_paginate {
  float: left;
  text-align: right;
  margin: 5px 0px 0px;
  border-right: 1px solid #ddd;
}
.dataTables_wrapper .dataTables_paginate .paginate_button,.dataTables_wrapper .dataTables_paginate span span{
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0px 12px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #538bcc !important;
  border: 1px solid #ddd;
  background:#fff;
  height:32px; line-height:32px;
  border-right:0;

}
.dataTables_wrapper .dataTables_paginate span span{ cursor:default;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  /*border: 1px solid #23b7e5;*/
  background:#f7f7f7;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0px 12px;
  text-align: center;
  text-decoration: none !important;
  cursor: default!important;
  color: #538bcc !important;
  border: 1px solid #ddd;
  background:#fff;
  height:32px; line-height:32px;
  border-right:0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background:#f7f7f7;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #333333;
}
.dataTables_wrapper .dataTables_scroll {
  clear: both;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
 /* border-bottom: 1px solid #111111; */
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody table {
  border-bottom: none;
}
.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/*弹窗*/
.img-replace{display:inline-block;overflow:hidden;text-indent:100%;color:transparent;white-space:nowrap}
.cd-popup-trigger{display:block;width:170px;height:50px;line-height:50px;margin:3em auto;text-align:center;color:#FFF;font-size:14px;font-size:.875rem;font-weight:bold;text-transform:uppercase;border-radius:50em;background:#35a785;box-shadow:0 3px 0 rgba(0,0,0,0.07)}
@media only screen and (min-width:1170px){.cd-popup-trigger{margin:6em auto}
}
.cd-popup{position:fixed;left:0;top:0;height:100%;width:100%;background-color:rgba(33,36,46,0.95);opacity:0;visibility:hidden;-webkit-transition:opacity .3s 0s,visibility 0s .3s;-moz-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s;z-index:9999}
.cd-popup.is-visible{opacity:1;visibility:visible;-webkit-transition:opacity .3s 0s,visibility 0s 0s;-moz-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s}
.cd-popup-container{position:relative;width:90%;max-width:400px;margin:4em auto;background:#FFF;border-radius:.25em .25em .4em .4em;text-align:center;box-shadow:0 0 20px rgba(0,0,0,0.2);-webkit-transform:translateY(-40px);-moz-transform:translateY(-40px);-ms-transform:translateY(-40px);-o-transform:translateY(-40px);transform:translateY(-40px);-webkit-backface-visibility:hidden;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;transition-property:transform;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-duration:.3s}
.cd-popup-container p{padding:3em 1em}
.cd-popup-container .cd-buttons:after{content:"";display:table;clear:both}
.cd-popup-container .cd-buttons li{float:left;width:50%}
.cd-popup-container .cd-buttons a{display:block;height:60px;line-height:60px;text-transform:uppercase;color:#FFF;-webkit-transition:background-color .2s;-moz-transition:background-color .2s;transition:background-color .2s}
.cd-popup-container .cd-buttons li:first-child a{background:#23b7e5;border-radius:0 0 0 .25em}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover{background-color:#fc8982}
.cd-popup-container .cd-buttons li:last-child a{background:#b6bece;border-radius:0 0 .25em 0}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover{background-color:#c5ccd8}
.cd-popup-container ul.metalert_type_alert li{width:100%;float:none}
.cd-popup-container ul.metalert_type_alert li a{background:#23b7e5!important;border-radius:0 0 .25em .25em!important}
.cd-popup-container .cd-popup-close{position:absolute;top:8px;right:8px;width:30px;height:30px}
.cd-popup-container .cd-popup-close::before,.cd-popup-container .cd-popup-close::after{content:'';position:absolute;top:12px;width:14px;height:3px;background-color:#8f9cb5}
.cd-popup-container .cd-popup-close::before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);left:8px}
.cd-popup-container .cd-popup-close::after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);right:8px}
.is-visible .cd-popup-container{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}
@media only screen and (min-width:1170px){.cd-popup-container{margin:8em auto}
}



@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}


/*手机屏幕*/
@media screen and (max-width:700px){
	/*表单*/
	.v52fmbx{ }
	.v52fmbx dl{ display:block;}
	.v52fmbx dl dt{ width:auto; margin:15px 10px; font-weight:bold; color:#000; font-size:16px;}
	.v52fmbx dl dd{ padding:2px 7px 10px 10px!important; margin:0px!important;}
	.v52fmbx dl dd.ftype_ckeditor .fbox{ padding:0px!important; margin:0px!important;}
	.ftype_input .fbox{ float:none;}
	.ftype_input .tips{ float:none; display:block; padding-top:5px;}
	.ftype_input .fbox input{ width:97%; height:35px;}
	.ftype_upload .fbox input.text{ height:35px;}
	.metuplaodify,.file_uploadfrom{ height:41px;}
	.metuplaodify .upbutn{ height:39px; line-height:39px;}
	.ftype_textarea textarea{ width:97%;}
	
	.ftype_range .fbox .range-slider{ margin-bottom:15px; float:none; }
	.ftype_range .fbox input{ display:block; margin-bottom:8px; margin-left:0px; clear:both;}
	
	
	
	
}







